/* Elements */
body{
    color: white;
    background-image: url("oldblackboard.jpg");
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
input{
    margin: 1vw;
}

table, th, td{
    width: 100%;
    border: solid white 3px;
    border-collapse: collapse;
    padding: 1vw;
}
a{
    color: white;
    text-decoration: none;
}

span{
    color: white;
}
nav{
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
    font-family: Tahoma, sans-serif;
}

h1{
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    margin-left: 10%;
    font-size: 3vw;
    text-align: left;
    list-style-position: inside;
}
/**  Ids  **/
#navtext{
    font-size: 4vw;
}

#home{
    color: white;
    font-size: 4vmin;
}

#welcome{
    margin-top: 10%;
    margin-bottom: 10%;
}
/* This makes the table hidden at first */
#caloryTable{
    display: none;
    font-family: Verdana,Tahoma, sans-serif;
}

#strechInjury{
    margin-left: none;
    font-size: 2.3vw;
}

#footer{
    font-size: 1vw;
    text-align: center;
}

/* To the center the last text in the dietlist page*/
#dietCenter{
    font-size: 3vmin;
    text-align: center;
    text-decoration: underline;
}
/* CLASSES */
.contentHeight{
    height: 80vh;
}
.headerSize{
    font-size: 4vw;
}

.whitebox{
    border: solid white 2px;
    border-radius: 25px;
    padding: 10px;
}

.whiteLine{
    height: 3px; 
    background-color: white;
}

/* Image classes */
.mainImage{
    width: 50%;
    border-radius: 80px;
}

.image{
    width: 90%;
    border-radius: 80px;
    overflow: auto;
}
/* Content for the white boxes*/
.boxText{
    font-size: 3vmin;
    text-align: justify;
}
/* makes sure any hyperlink in a box is underlined*/
.boxText a{
    text-decoration: underline;
}

/* I got this from W3 school*/
.column {
    flex: 50%;
    width: 50%;
    padding: 10px;
  }

.row{
    display: flex
  }


/* This class for youtube videos was from stackoverflow*/
.auto-resizable-iframe {
    max-width: 560px;
    margin: 0px auto;
  }
  
.auto-resizable-iframe > div {
    position: relative;
    padding-bottom: 75%;
    height: 0px;
  }
.auto-resizable-iframe iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

/* Fade in animation*/
/* I got this from web3 school and edited it*/
.animation{
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*Drop down menu*/
/* This was also from W3 school with modifications of course*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    color: black !important;
    font-size: 2vw;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    padding: 12px 16px;
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: black;
    color: white;
    }

  .dropdown:hover .dropdown-content {
    display: block;
  }
