/* Elements */
body{
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
a{
    color: black;
    text-decoration: none;
}
span{
    color: white;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
}

nav{
    background-color: black;
}

h1{
    margin-top: 0;
    margin-bottom: 0;
}
/* Ids */
#navtext{
    font-size: 50px;
}

#gymCouple{
    width: 70%;
    border-radius: 100px;
    overflow: auto;
}

#home{
    color: white;
}

#boxText{
    font-size: 2vw;
}

/* classes */
.bigSize{
    font-size: 4vw;
}

.whitebox{
    border: solid white 2px;
    border-radius: 25px;
    padding: 10px;
}

.column {
    flex: 50%;
    width: 50%;
    padding: 10px;
  }

.row{
    display: flex
  }
/* Fade in animation*/
.animation{
    -webkit-animation: fadein 3s;
    animation: fadein 3s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*Drop down menu*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    font-size: 20px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: black;
    color: white;
    }

  .dropdown:hover .dropdown-content {
    display: block;
  }